extends layout

block content
  #container.
    !{container}
  script(type='text/javascript' src='./js/bundle.js')
  script(type='text/javascript').
    let ui = new web.UI();
    ui.renderClient(!{model});
  style#jss-style(type='text/css').
    !{css}